USE [master]
GO
/****** Object:  Database [Tienda_Ropa]    Script Date: 20/11/2024 21:30:01 ******/
CREATE DATABASE [Tienda_Ropa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tienda_Ropa', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Tienda_Ropa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tienda_Ropa_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Tienda_Ropa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tienda_Ropa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tienda_Ropa]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20/11/2024 21:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bonificaciones]    Script Date: 20/11/2024 21:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bonificaciones](
	[IdBonificacion] [int] IDENTITY(1,1) NOT NULL,
	[CantidadParaDescuento] [decimal](18, 0) NOT NULL,
	[ProporcionDescuento] [real] NOT NULL,
	[FecVigenciaBonificacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Bonificaciones] PRIMARY KEY CLUSTERED 
(
	[IdBonificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargas]    Script Date: 20/11/2024 21:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargas](
	[IdOperacion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsu] [int] NOT NULL,
	[FecOperacion] [datetime2](7) NOT NULL,
	[EstadoOperacion] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cargas] PRIMARY KEY CLUSTERED 
(
	[IdUsu] ASC,
	[IdOperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 20/11/2024 21:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[IdOperacion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsu] [int] NOT NULL,
	[FecOperacion] [datetime2](7) NOT NULL,
	[EstadoOperacion] [nvarchar](max) NULL,
 CONSTRAINT [PK_Compras] PRIMARY KEY CLUSTERED 
(
	[IdUsu] ASC,
	[IdOperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineasCarga]    Script Date: 20/11/2024 21:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineasCarga](
	[NumeroLinea] [int] IDENTITY(1,1) NOT NULL,
	[IdUsu] [int] NOT NULL,
	[IdOperacion] [int] NOT NULL,
	[CantidadPrenda] [int] NOT NULL,
	[IdPrenda] [int] NOT NULL,
 CONSTRAINT [PK_LineasCarga] PRIMARY KEY CLUSTERED 
(
	[IdUsu] ASC,
	[IdOperacion] ASC,
	[NumeroLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineasCompra]    Script Date: 20/11/2024 21:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineasCompra](
	[NumeroLinea] [int] IDENTITY(1,1) NOT NULL,
	[IdUsu] [int] NOT NULL,
	[IdOperacion] [int] NOT NULL,
	[CantidadPrenda] [int] NOT NULL,
	[IdPrenda] [int] NOT NULL,
 CONSTRAINT [PK_LineasCompra] PRIMARY KEY CLUSTERED 
(
	[IdUsu] ASC,
	[IdOperacion] ASC,
	[NumeroLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 20/11/2024 21:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[IdMarca] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionMarca] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreciosPrenda]    Script Date: 20/11/2024 21:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreciosPrenda](
	[IdPrenda] [int] NOT NULL,
	[FecVigencia] [datetime2](7) NOT NULL,
	[Valor] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_PreciosPrenda] PRIMARY KEY CLUSTERED 
(
	[IdPrenda] ASC,
	[FecVigencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prendas]    Script Date: 20/11/2024 21:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prendas](
	[IdPrenda] [int] IDENTITY(1,1) NOT NULL,
	[Stock] [int] NOT NULL,
	[PuntoPedido] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Talla] [nvarchar](max) NOT NULL,
	[IdTipoPrenda] [int] NOT NULL,
	[IdMarca] [int] NOT NULL,
 CONSTRAINT [PK_Prendas] PRIMARY KEY CLUSTERED 
(
	[IdPrenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposPrenda]    Script Date: 20/11/2024 21:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposPrenda](
	[IdTipoPrenda] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionTipoPrenda] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TiposPrenda] PRIMARY KEY CLUSTERED 
(
	[IdTipoPrenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/11/2024 21:30:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsu] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[FecNacimiento] [date] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Contrasenia] [varchar](50) NOT NULL,
	[TipoUsuario] [varchar](8) NOT NULL,
	[MedioDePago] [varchar](25) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_LineasCarga_IdPrenda]    Script Date: 20/11/2024 21:30:01 ******/
CREATE NONCLUSTERED INDEX [IX_LineasCarga_IdPrenda] ON [dbo].[LineasCarga]
(
	[IdPrenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LineasCompra_IdPrenda]    Script Date: 20/11/2024 21:30:01 ******/
CREATE NONCLUSTERED INDEX [IX_LineasCompra_IdPrenda] ON [dbo].[LineasCompra]
(
	[IdPrenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prendas_IdMarca]    Script Date: 20/11/2024 21:30:01 ******/
CREATE NONCLUSTERED INDEX [IX_Prendas_IdMarca] ON [dbo].[Prendas]
(
	[IdMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prendas_IdTipoPrenda]    Script Date: 20/11/2024 21:30:01 ******/
CREATE NONCLUSTERED INDEX [IX_Prendas_IdTipoPrenda] ON [dbo].[Prendas]
(
	[IdTipoPrenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cargas]  WITH CHECK ADD  CONSTRAINT [FK_Cargas_Usuarios_IdUsu] FOREIGN KEY([IdUsu])
REFERENCES [dbo].[Usuarios] ([IdUsu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cargas] CHECK CONSTRAINT [FK_Cargas_Usuarios_IdUsu]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Usuarios_IdUsu] FOREIGN KEY([IdUsu])
REFERENCES [dbo].[Usuarios] ([IdUsu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Usuarios_IdUsu]
GO
ALTER TABLE [dbo].[LineasCarga]  WITH CHECK ADD  CONSTRAINT [FK_LineasCarga_Cargas_IdUsu_IdOperacion] FOREIGN KEY([IdUsu], [IdOperacion])
REFERENCES [dbo].[Cargas] ([IdUsu], [IdOperacion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineasCarga] CHECK CONSTRAINT [FK_LineasCarga_Cargas_IdUsu_IdOperacion]
GO
ALTER TABLE [dbo].[LineasCarga]  WITH CHECK ADD  CONSTRAINT [FK_LineasCarga_Prendas_IdPrenda] FOREIGN KEY([IdPrenda])
REFERENCES [dbo].[Prendas] ([IdPrenda])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineasCarga] CHECK CONSTRAINT [FK_LineasCarga_Prendas_IdPrenda]
GO
ALTER TABLE [dbo].[LineasCompra]  WITH CHECK ADD  CONSTRAINT [FK_LineasCompra_Compras_IdUsu_IdOperacion] FOREIGN KEY([IdUsu], [IdOperacion])
REFERENCES [dbo].[Compras] ([IdUsu], [IdOperacion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineasCompra] CHECK CONSTRAINT [FK_LineasCompra_Compras_IdUsu_IdOperacion]
GO
ALTER TABLE [dbo].[LineasCompra]  WITH CHECK ADD  CONSTRAINT [FK_LineasCompra_Prendas_IdPrenda] FOREIGN KEY([IdPrenda])
REFERENCES [dbo].[Prendas] ([IdPrenda])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineasCompra] CHECK CONSTRAINT [FK_LineasCompra_Prendas_IdPrenda]
GO
ALTER TABLE [dbo].[PreciosPrenda]  WITH CHECK ADD  CONSTRAINT [FK_PreciosPrenda_Prendas_IdPrenda] FOREIGN KEY([IdPrenda])
REFERENCES [dbo].[Prendas] ([IdPrenda])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreciosPrenda] CHECK CONSTRAINT [FK_PreciosPrenda_Prendas_IdPrenda]
GO
ALTER TABLE [dbo].[Prendas]  WITH CHECK ADD  CONSTRAINT [FK_Prendas_Marcas_IdMarca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marcas] ([IdMarca])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prendas] CHECK CONSTRAINT [FK_Prendas_Marcas_IdMarca]
GO
ALTER TABLE [dbo].[Prendas]  WITH CHECK ADD  CONSTRAINT [FK_Prendas_TiposPrenda_IdTipoPrenda] FOREIGN KEY([IdTipoPrenda])
REFERENCES [dbo].[TiposPrenda] ([IdTipoPrenda])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prendas] CHECK CONSTRAINT [FK_Prendas_TiposPrenda_IdTipoPrenda]
GO
USE [master]
GO
