@page "/operaciones/tiposDePrenda/alta"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Alta Tipo de Prenda</PageTitle>

<div class="formContainer">
    <div>
        <h3 class="formTitle">Nuevo Tipo de Prenda</h3>

        <EditForm method="post" FormName="formAltaTipoPrenda" Model="TipoPrenda" OnValidSubmit="NuevoTipoPrendaSubmit" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label for="descripcion">Nombre: </label>
                <InputText id="descripcion" @bind-Value="TipoPrenda.DescripcionTipoPrenda" class="form-control"></InputText>
            </div>

            <button class="formButton" type="submit">Agregar</button>
        </EditForm>

        <button class="formButton" @onclick="GoBack" style="margin-top: 1rem;">Salir</button>
    </div>
</div>

<p style="margin-top: 1rem;"><em>@resultado</em></p>

@code {
    protected override void OnInitialized()
    {
        if (UsuarioNegocio.Usuario == null)
        {
            NavigationManager.NavigateTo("/NotLoggedInError");
        }
        if (UsuarioNegocio.Usuario.TipoUsuario != "Empleado")
        {
            NavigationManager.NavigateTo("NotAuthorizedError");
        }
    }

    [SupplyParameterFromForm(FormName = "formAltaTipoPrenda")]
    public TipoPrenda TipoPrenda { get; set; } = new();

    public string resultado = "";

    private async Task NuevoTipoPrendaSubmit()
    {
        resultado = "Cargando...";
        if(await TipoPrendaNegocio.Add(TipoPrenda))
        {
            resultado = "Marca agregada exitosamente";
            NavigationManager.NavigateTo("/operaciones/tiposDePrenda");
        }
        else
        {
            var error = Errors.Errores.FirstOrDefault();
            resultado = error;
            Errors.Errores.Clear();
        }
    }

    private void GoBack(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/operaciones/tiposDePrenda");
    }
}

