@page "/"

<PageTitle>Home</PageTitle>

<h1 class="title">Bienvenido a Over Basic Clothes</h1>

<p>Inicie sesión para comenzar a explorar nuestra página web, donde encontrará montones de ropa que será de su agrado.</p>
